In [1]:
my_list=[1,3,4,5,6,7,8]
for i in my_list:
    print(i**2)

1
9
16
25
36
49
64

In [3]:
for j in range (1,11):
print(i*5)

IndentationError: expected an indented block after 'for' statement on line 1 (3595108979.py, line 2)

In [7]:
a=int(input("Enter a number"))
for i in range(1,a+1):
    print(i*2)

Enter a number 10

2
4
6
8
10
12
14
16
18
20

In [9]:
a=int(input("Enter a number"))
for i in range(1,11):
    print(i*a)

Enter a number 5

5
10
15
20
25
30
35
40
45
50

In [11]:
list_of_numbers = [1,3,5,80,45,33,52,2,4,6,11,14,17,20]

In [12]:
for i in list_of_numbers:
    if i%2==0:
        print(i,"is even number.")
    else:
        print(i,"is odd number")

1 is odd number
3 is odd number
5 is odd number
80 is even number.
45 is odd number
33 is odd number
52 is even number.
2 is even number.
4 is even number.
6 is even number.
11 is odd number
14 is even number.
17 is odd number
20 is even number.

In [21]:
for i in range (1,21):
    if i/2==0:
    print(i)

IndentationError: expected an indented block after 'if' statement on line 2 (4231930340.py, line 3)

In [19]:
even = []
odd = []
for i in list_of_numbers:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[80, 52, 2, 4, 6, 14, 20]
[1, 3, 5, 45, 33, 11, 17]

In [27]:
got_houses=['stark','aryan','baratheon','tully','greyjoy','lannister','tyrell','martell','targaryen']
for i in got_houses:
    print(i)

stark
aryan
baratheon
tully
greyjoy
lannister
tyrell
martell
targaryen

In [ ]:
my_list = [0, True, "Data Science",5,5,14]
print(my_list)
print(list(enumerate(my_list)))
for a,b in enumerate (my_list)

In [37]:
for i in got_houses:
    if i == 'martell':
        continue
    print(i)

stark
aryan
baratheon
tully
greyjoy
lannister
tyrell
targaryen

In [41]:
color = ['red','green','brown']
fruits =['apple','banana','cherry']
for i in color:
    for j in fruits:
        print(i,j)

red apple
red banana
red cherry
green apple
green banana
green cherry
brown apple
brown banana
brown cherry

In [60]:
num=(input("enter a number"))
print([num])
print(',')

enter a number 2

['2']
,

In [57]:
list=[]
num = int(input("enter a number"))
for i in range(num):
    b = int(input("enter the elements"))
    list.append(b)
list
even=[]
odd=[]

IndentationError: unexpected indent (333398708.py, line 3)

In [62]:
list=[]
a = int(input("enter the limit"))
for i in range(a):
    b = int(input("enter the elements"))
    list.append(b)

list
even=[]
odd=[]
for i in list:
    if i%2==0
    even.append(i)
    c=list.indeex(i)
    even_index.append(c)

print(list)
print(even)

enter the limit 10
enter the elements 12
enter the elements 12
enter the elements 12
enter the elements 121
enter the elements 12
enter the elements 12
enter the elements 12
enter the elements 12
enter the elements 12
enter the elements 12

In [72]:
n1=0
n2=1
a=10

for i in range(a):
    print(n1)
    n3= n1+n2
    n1= n2
    n2=n3

0
1
1
2
3
5
8
13
21
34

In [76]:
a=10
b=20
print("before swap")
print(a,b)
a,b=b,a
print("before swap")

print(a,b)

before swap
10 20
20 10